.checkerboard {
  background-color: var(--mui-palette-background-paper);
  background-image:
    linear-gradient(45deg, var(--mui-palette-action-hover) 25%, transparent 25%),
    linear-gradient(-45deg, var(--mui-palette-action-hover) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--mui-palette-action-hover) 75%),
    linear-gradient(-45deg, transparent 75%, var(--mui-palette-action-hover) 75%);
  background-size: 16px 16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;
}
